<div class="row">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                <!--Agregar Proyecto-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Agregar Proyecto</h6>
                                <div class="row"  *ngIf="ocultar == false">
                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="proyectobau" maxlength="50"
                                                [(ngModel)]="nombreProyecto"  (ngModelChange)="habilitar()" />
                                            <label for="fecFin">Proyecto - BAU</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-floating">
                                            <!--<select class="form-select" (change)="selectBase()" id="floatingSelect"
                                                [(ngModel)]="tipoProyecto" name="datasource">
                                                <option *ngFor="let base of listaBase" [ngValue]="base.id_Datasource">
                                                    {{ base.nombre_Base }}
                                                </option>
                                            </select>-->
                                            <select class="form-select" id="tipoProyecto" [(ngModel)]="tipoProyecto" name="tipoProyecto"  (ngModelChange)="habilitar()">
                                                <option *ngFor="let tipoProyecto of listatipoProyecto" [ngValue]="tipoProyecto.idTipoProyecto">
                                                    {{ tipoProyecto.tipoProyecto | uppercase }}
                                                </option>
                                            </select>
                                            <label for="tipoProyecto">Tipo Proy - BAU</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <!--<select class="form-select" (change)="selectBase()" id="floatingSelect"
                                                [(ngModel)]="responsable" name="datasource">
                                                <option *ngFor="let base of listaBase" [ngValue]="base.id_Datasource">
                                                    {{ base.nombre_Base }}
                                                </option>
                                            </select>-->
                                            <select class="form-select" id="responsable" [(ngModel)]="responsable" name="responsable"  (ngModelChange)="habilitar()">
                                                <option value="1" *ngFor="let usuario of listaResponsables" [ngValue]="usuario.idUsuario">
                                                    {{ usuario.nombre + " " + usuario.apellido }}
                                                </option>
                                            </select>
                                            <label for="responsable">Responsable(s)</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <select class="form-select" id="documentacion" [(ngModel)]="tipoDocumentacion" name="documentacion" (ngModelChange)="cambiosDocumentacion(tipoDocumentacion)" (ngModelChange)="habilitar()">
                                                <option *ngFor="let tipoDoc of listatipoDocumentacion" [ngValue]="tipoDoc.idDocumentacion">
                                                {{ tipoDoc.documentacion | uppercase }}
                                                </option>
                                            </select>
                                            <label for="documentacion">Documentación</label>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="fecInicio" placeholder="Fecha Inicio"
                                            [(ngModel)]="fechaInicioProyecto" [ngClass]="{'border-danger': bordeFechaInicio}"(ngModelChange)="cambiosDocumentacion(tipoDocumentacion)" (ngModelChange)="habilitar()"/>
                                            <label for="fecInicio">Fecha Inicio</label>
                                            <p *ngIf="bordeFechaInicio" class="text-sm-center text-danger">Campo obligatorio</p>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-floating">
                                            <input type="date" id="fecFin" class="form-control" placeholder="Fecha Fin"
                                                [(ngModel)]="fechaFinProyecto" [ngClass]="{'border-danger': bordeFechaFin}"(ngModelChange)="cambiosDocumentacion(tipoDocumentacion)" (ngModelChange)="habilitar()"/>
                                            <label for="fecFin">Fecha Fin</label>
                                            <p *ngIf="bordeFechaFin" class="text-sm-center text-danger">Campo obligatorio</p>
                                            <p *ngIf="fechasMal" class="text-sm-start text-danger">Fecha Fin no puede ser menor a Fecha Inicio</p>
                                        </div>
                                    </div>

                                    <div class="col-1 ">
                                        <button (click)="agregarProyecto()" class="" [ngClass]="claseBoton"
                                            [disabled]="habilitarBoton ? false : true">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-2 right" (click)="showData()" *ngIf="ocultar == true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23.616" height="13.503"
                                        viewBox="0 0 23.616 13.503">
                                        <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down"
                                            d="M18,20.679l8.93-8.937a1.681,1.681,0,0,1,2.384,0,1.7,1.7,0,0,1,0,2.391L19.2,24.258a1.685,1.685,0,0,1-2.327.049L6.68,14.14a1.688,1.688,0,0,1,2.384-2.391Z"
                                            transform="translate(-6.188 -11.246)" fill="#024e4f" />
                                    </svg>
                                </div>
                                <div class="col-2 right" (click)="hideData()" *ngIf="ocultar == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23.619" height="13.503"
                                        viewBox="0 0 23.619 13.503">
                                        <path id="Icon_ionic-ios-arrow-up" data-name="Icon ionic-ios-arrow-up"
                                            d="M18,15.321l8.93,8.937a1.688,1.688,0,1,0,2.384-2.391L19.2,11.742a1.685,1.685,0,0,0-2.327-.049L6.68,21.86a1.688,1.688,0,0,0,2.384,2.391Z"
                                            transform="translate(-6.188 -11.251)" fill="#024e4f" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <!-- Inicio Tabla -->
                <div class="row ">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table" id="tablaProyectos">
                                <thead class="table-success">
                                    <tr>
                                        <!--<th scope="col" hidden>Activar Fechas</th>-->
                                        <th scope="col">Proyecto - BAU</th>
                                        <th scope="col">Tipo de Proyecto</th>
                                        <th scope="col">Responsable(s)</th>
                                        <th scope="col">Hrs al día</th>
                                        <th scope="col">Fecha Incio</th>
                                        <th scope="col">Fecha Fin</th>
                                        <th scope="col">Fase del Proyecto</th>
                                        <th scope="col">Estado del Proyecto</th>
                                        <th scope="col">Dependencias</th>
                                        <th scope="col">% de Avance</th>
                                        <th scope="col">Documentación</th>
                                        <th scope="col">Comentarios</th>
                                        <!--<th scope="col" hidden>Guardar</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let proyecto of listaProyectos; let i = index">
                                        <!--<td scope="row" hidden >
                                            <input type="checkbox" (change)="onChecked()">
                                        </td>-->
                                        <th scope="row">{{ proyecto.proyectoResponse.proyecto  | uppercase }}</th>
                                        <td>{{ proyecto.detalleProyectoResponse.tipoProyecto  | uppercase }}</td>
                                        <td>{{ proyecto.recursos[0].nombre + " " + proyecto.recursos[0].apellido }}</td>
                                        <td>
                                            <input type="number" min="0" class="form-control"  value="{{ proyecto.detalleProyectoResponse.hrsAtencion }}"  [(ngModel)]="listaProyectos[i].detalleProyectoResponse.hrsAtencion" (ngModelChange)="change(listaProyectos[i])">
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" size="1" [disabled]="proyecto.detalleProyectoResponse.docProy != 'RI | RD'"
                                                value="{{proyecto.detalleProyectoResponse.fechaInicio}}" [(ngModel)]="listaProyectos[i].detalleProyectoResponse.fechaInicio"
                                                (ngModelChange)="change(listaProyectos[i])"
                                            />
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" size="1" [disabled]="proyecto.detalleProyectoResponse.docProy != 'RI | RD'"
                                                value="{{proyecto.detalleProyectoResponse.fechaFin}}"  [(ngModel)]="listaProyectos[i].detalleProyectoResponse.fechaFin"
                                                (ngModelChange)="change(listaProyectos[i])"
                                            />
                                        </td>
                                        <td>
                                            <!--Versión inicio<select hidden class="form-select" id="faseProyecto"  [(ngModel)]="proyecto.detalleProyectoResponse.faseProy" (ngModelChange)="modelChangeFase($event)">
                                                <option *ngFor="let fase of listatipoFase" [ngValue]="fase.fase">{{ fase.fase | uppercase }}</option>
                                            </select>-->
                                            <select class="form-select" id="faseProyecto"  [(ngModel)]="proyecto.detalleProyectoResponse.faseProy"  (ngModelChange)="change(listaProyectos[i])">
                                                <option *ngFor="let fase of listatipoFase" value="{{fase.fase}}">{{ fase.fase | uppercase }}</option>
                                            </select>
                                        </td>
                                        <td>    
                                            <!--<select class="form-select" id="estadoProy" [(ngModel)]="proyecto.detalleProyectoResponse.estadoProy" (ngModelChange)="modelChangeEstado($event)">
                                                <option *ngFor="let estado of listatipoEstado" [ngValue]="estado.tipoEstado">{{ estado.tipoEstado   | uppercase }}</option>
                                            </select>-->
                                            <select class="form-select" id="estadoProy" [(ngModel)]="proyecto.detalleProyectoResponse.estadoProy"  (ngModelChange)="change(listaProyectos[i])">
                                                <option *ngFor="let estado of listatipoEstado" value="{{estado.tipoEstado}}">{{ estado.tipoEstado   | uppercase }}</option>
                                            </select> 
                                        </td>
                                        <td>
                                            <!--<select class="form-select" id="dependenciaProy" [(ngModel)]="proyecto.detalleProyectoResponse.dependenciaProy" (ngModelChange)="modelChangeDependencia($event)" >
                                                <option *ngFor="let dependencia of listatipoDependencia" [ngValue]="dependencia.tipoDependencia">{{ dependencia.tipoDependencia | uppercase  }}</option>
                                            </select>-->
                                            <select class="form-select" id="dependenciaProy" [(ngModel)]="proyecto.detalleProyectoResponse.dependenciaProy"  (ngModelChange)="change(listaProyectos[i])">
                                                <option *ngFor="let dependencia of listatipoDependencia" value="{{dependencia.tipoDependencia}}">{{ dependencia.tipoDependencia | uppercase  }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" min="0" class="form-control"  size="0" value="{{proyecto.detalleProyectoResponse.avance}}"
                                            [(ngModel)]="listaProyectos[i].detalleProyectoResponse.avance"  (ngModelChange)="change(listaProyectos[i])"/>
                                        </td>
                                        <td>
                                            <!--<select class="form-select" id="documentacionProy" [(ngModel)]="proyecto.detalleProyectoResponse.docProy" (ngModelChange)="modelChangeDocumentacion($event)">
                                                <option *ngFor="let docProy of listatipoDocumentacion" [ngValue]="docProy.documentacion">{{ docProy.documentacion | uppercase }}</option>
                                            </select>-->
                                            <select class="form-select" id="documentacionProy" [(ngModel)]="proyecto.detalleProyectoResponse.docProy"  (ngModelChange)="change(listaProyectos[i])">
                                                <option *ngFor="let docProy of listatipoDocumentacion" value="{{docProy.documentacion}}">{{ docProy.documentacion | uppercase }}</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button (click)="getDocumentacion(proyecto.proyectoResponse.idProyecto, listaProyectos[i].detalleProyectoResponse.comentario)" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModalComentariosGerencia">
                                                ...
                                            </button>
                                        </td>
                                        <!--<td hidden>
                                            <button  (click)="guardarCambio(listaProyectos[i].detalleProyectoResponse, listaProyectos[i].proyectoResponse.idProyecto)"  class="btn btn-success mx-2">
                                                Guardar 
                                            </button>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <button  class="btn btn-primary" hidden>
                            Guardar Cambio
                        </button>
                        <button (click)="cerrarSemana()" hidden class="btn btn-success buttonM" data-toggle="modal" data-target="#exampleConfirmacion">
                            Cerrar Seman
                        </button>
                    </div>
                </div>
                <!--Fin Tabla-->
            </div>
        </div>
    </div>
</div>

<!-- Modal Comentarios Gerencia-->
<div class="modal fade" id="exampleModalComentariosGerencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div  class="modal-content">
            <div  class="modal-header">
                <h5  id="exampleModalLabel" class="modal-title">Comentarios Gerencia</h5>
                <button  type="button" data-dismiss="modal" aria-label="Close" class="close border">
                    <span  aria-hidden="true">×</span>
                </button>
            </div>
            <div  class="modal-body"><br >
                <div >
                    <!-- Comentarios -->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Comentarios (Fundamentos de estado):</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID"  value="{{ comentario }}"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" [(ngModel)]="comentario">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer boder border-0 -mb-5">
                                            <button  type="button" class="btn btn-primary" (click)="guardarComentarioProyecto(comentario)">
                                                Guardar Comentarios
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- Documentar avance en JIRA -->
                    <!--<div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Documentar avance en JIRA | Atención ToDo, semana anterior:</h6>
                                    <div  class="row">
                                        
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="bBanco" placeholder="Banco" value="40150"
                                                    class="form-control ng-untouched ng-pristine ng-valid" style="height: 140px;" disabled="">
                                                </textarea>
                                                <label >ToDo Semana Anterior</label>
                                            </div>
                                        </div>
                                        
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="bCuenta" 
                                                    class="form-control ng-untouched ng-pristine ng-valid" style="height: 140px;" >
                                                </textarea>
                                                <label >Avances sobre ToDo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body" style="height: 200px;">
                                    <h6  class="card-title">Documentar avance en JIRA | Atención ToDo, semana anterior:
                                    </h6>
                                    <div class="row" >
                                        <div  class="col-12" style="height: 170px;">
                                            <div  class="form-floating"
                                                style="overflow-x: hidden; overflow-y: auto; height: 8em;">
                                                <table class="table">
                                                    <thead class="table-success"  >
                                                        <tr>
                                                            <th>Realizado</th>
                                                            <th>Tarea</th>
                                                            <th>Comentario</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let documentar of listaObjetivos; let i = index">
                                                            <td>
                                                                <!-- 
                                                                <input type="number" min="0" class="form-control"  value="{{ proyecto.detalleProyectoResponse.hrsAtencion }}"  [(ngModel)]="listaProyectos[i].detalleProyectoResponse.hrsAtencion" (ngModelChange)="change(listaProyectos[i])">-->
                                                                <input type="checkbox" value="{{ documentar.status }}" [(ngModel)]="listaObjetivos[i].status" (ngModelChange)="guardarDocumentarAvanceEdit(documentar.idObjetivo, listaObjetivos[i])">
                                                            </td>
                                                            <td>{{ documentar.objetivo }}</td>
                                                            <td>
                                                                <input type="text" min="0" class="form-control"  value="{{ documentar.detalleObjetivo }}"  [(ngModel)]="listaObjetivos[i].detalleObjetivo" (ngModelChange)="guardarDocumentarAvanceEdit(documentar.idObjetivo, listaObjetivos[i])">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- ToDo -->
                    <!--<div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">ToDo:</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" >
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">ToDo</h6>
                                    <div  class="row">
                                        <div  class="col-12"class="form-floating" style="overflow-x: hidden; overflow-y: auto; height: 6em;">
                                            <div *ngFor="let ToDo of listaToDo">
                                                <input [(ngModel)]="ToDo.objetivo" type="text" disabled id="idDatasource" placeholder="ID" class="form-control ng-valid ng-dirty ng-touched">
                                            </div>
                                        </div>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModalAddTarea"  type="button" data-dismiss="modal" class="btn btn-success mt-2">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- Observaciones Subdirección -->
                    <div   class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Observaciones Subdirección</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" disabled>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Botones Modal-->
            <div  class="modal-footer">
                <button  type="button" data-dismiss="modal" class="btn btn-secondary">
                    Cerrar
                </button>
                <button  type="button" class="btn btn-primary">
                    Guardar Comentarios
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Comentarios Subdirección-->
<div class="modal fade" id="exampleModalComentariosSubdireccion"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" >
        <div  class="modal-content">
            <div  class="modal-header">
                <h5  id="exampleModalLabel" class="modal-title">Comentarios Subdirección</h5>
                <button  type="button" data-dismiss="modal" aria-label="Close" class="close border">
                    <span  aria-hidden="true">×</span>
                </button>
            </div>
            <div  class="modal-body" style="overflow-x: hidden; overflow-y: auto;  height: 60em;">
                <br >
                <div >
                    <!-- Comentarios -->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Comentarios (Fundamentos de estado):</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" disabled="">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- Documentar avance en JIRA -->
                    <!--<div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Documentar avance en JIRA | Atención ToDo, semana anterior:</h6>
                                    <div  class="row">
                                        
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="bBanco" placeholder="Banco" value="40150"
                                                    class="form-control ng-untouched ng-pristine ng-valid" style="height: 140px;" disabled="">
                                                </textarea>
                                                <label >ToDo Semana Anterior</label>
                                            </div>
                                        </div>
                                        
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="bCuenta" 
                                                    class="form-control ng-untouched ng-pristine ng-valid" style="height: 140px;" disabled>
                                                </textarea>
                                                <label >Avances sobre ToDo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body" style="height: 200px;">
                                    <h6  class="card-title">Documentar avance en JIRA | Atención ToDo, semana anterior:
                                    </h6>
                                    <div class="row" >
                                        <div  class="col-12" style="height: 170px;">
                                            <div  class="form-floating"
                                                style="overflow-x: hidden; overflow-y: auto; height: 8em;">
                                                <table class="table">
                                                    <thead class="table-success"  >
                                                        <tr  >
                                                            <th  >Tarea</th>
                                                            <th  >Comentario</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Tarea 1</td>
                                                            <td  ><input disabled  type="text"
                                                                    id="idDatasource" placeholder="ID" value="1"
                                                                    class="form-control ng-valid ng-dirty ng-touched"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tarea 1</td>
                                                            <td  ><input disabled  type="text"
                                                                    id="idDatasource" placeholder="ID" value="1"
                                                                    class="form-control ng-valid ng-dirty ng-touched"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- ToDo -->
                    <!--<div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">ToDo:</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" disabled>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">ToDo</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating"
                                                style="overflow-x: hidden; overflow-y: auto; height: 5em;"><input disabled 
                                                    type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched"><input disabled 
                                                    type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched"><input disabled 
                                                    type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched"></div>
                                        </div>
                                    </div>
                                    <button  type="button" data-dismiss="modal" class="btn btn-success mt-2">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- Seguimiento Observacione -->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Seguimiento Observaciones Subdirección</h6>
                                    <div  class="row">
                                        <!-- Semana Anterior -->
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;" disabled="">
                                                </textarea>
                                            </div>
                                        </div>
                                        <!-- Notas sobre avance -->
                                        <div  class="col-6">
                                            <div  class="form-floating">
                                                <textarea  type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br >
                    <!-- Observaciones Subdirección -->
                    <div  class="row mt-6">
                        <div  class="col-12">
                            <div  class="card">
                                <div  class="card-body">
                                    <h6  class="card-title">Observaciones Subdirección</h6>
                                    <div  class="row">
                                        <div  class="col-12">
                                            <div  class="form-floating"><textarea 
                                                    type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched"
                                                    style="height: 120px;"></textarea></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Botones Modal-->
            <div  class="modal-footer">
                <button  type="button" data-dismiss="modal" class="btn btn-secondary">
                    Cerrar
                </button>
                <button  type="button" class="btn btn-primary">
                    Guardar Comentarios
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Agregar Tarea-->
<div class="modal fade" id="exampleModalAddTarea" style="height: 420px;"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Agregar Tarea</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close border">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x: hidden; overflow-y: auto;  height: 60em;">
                <br>
                <div>
                    <!-- Comentarios -->
                    <div class="row mt-6">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Descripción:</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea type="text" id="idDatasource" placeholder="ID" value="1"
                                                    class="form-control ng-valid ng-dirty ng-touched" style="height: 120px;">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary mx-2">
                    Guardar Tarea
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Confirmación-->
<div class="modal fade  ms-auto" id="exampleConfirmacion"  tabindex="-1" role="dialog" aria-labelledby="exampleConfirmacion" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">Confirmación de Cierre de Semana</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close border">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body border">
                <br>
                <div class="col-12 text-center mb-2">
                    <span>
                        ¿Estás seguro de hacer el cierre de semana?
                    </span>
                </div>
                <div class="mb-5">
                    <span>
                        Al cerrar la semana, no se podrá hacer cambios hasta el inicio del próximo periodo de evaluación
                    </span>
                </div>
            </div>
            <div class="">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary mx-2">
                    Confirmar Cierre de Semana
                </button>
            </div>
        </div>
    </div>
</div>



<style>
    .right {
        justify-content: flex-end;
        display: flex;
        width: 150px;
        position: absolute;
        right: 0;
        top: center;
        margin-right: 10px;
    }
    .buttonM {
        margin-left: 5px;
    }
</style>