<div class="row">
    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body">
                <!--Agregar Proyecto-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Agregar Proyecto</h6>
                                <div class="row" *ngIf="ocultar == false" >
                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="proyectobau"
                                                [(ngModel)]="nombreProyecto"  />
                                            <label for="fecFin">Proyecto - BAU</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <!--<select class="form-select" (change)="selectBase()" id="floatingSelect"
                                                [(ngModel)]="tipoProyecto" name="datasource">
                                                <option *ngFor="let base of listaBase" [ngValue]="base.id_Datasource">
                                                    {{ base.nombre_Base }}
                                                </option>
                                            </select>-->
                                            <select class="form-select" id="floatingSelect" [(ngModel)]="tipoProyecto"
                                            name="tipoOperacion">
                                            <option value="0">Instancia A</option>
                                            <option value="1">Instancia B</option>
                                            <option value="2">Contingencia A</option>
                                            <option value="3">Contingencia B</option>
                                        </select>
                                            <label for="floatingSelect">Tipo Proy - BAU</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <!--<select class="form-select" (change)="selectBase()" id="floatingSelect"
                                                [(ngModel)]="responsable" name="datasource">
                                                <option *ngFor="let base of listaBase" [ngValue]="base.id_Datasource">
                                                    {{ base.nombre_Base }}
                                                </option>
                                            </select>-->
                                            <select class="form-select" id="floatingSelect" [(ngModel)]="responsable"
                                                name="tipoOperacion">
                                                <option value="0">Instancia A</option>
                                                <option value="1">Instancia B</option>
                                                <option value="2">Contingencia A</option>
                                                <option value="3">Contingencia B</option>
                                            </select>
                                            <label for="floatingSelect">Responsable(s)</label>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-floating">
                                            <!--<input type="date" class="form-control" id="fecInicio"
                                            placeholder="Fecha Inicio" [(ngModel)]="selectedDateInicio" [disabled]="habilitarFecha ? true : null">-->
                                            <input type="date" class="form-control" id="fecInicio"
                                                placeholder="Fecha Inicio" [(ngModel)]="fechaInicioProyecto" />
                                            <label for="fecInicio">Fecha Inicio</label>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-floating">
                                            <!--<input type="date" class="form-control" id="fecFin" placeholder="Fecha Fin"
                                                [(ngModel)]="selectedDateFin"
                                                [disabled]="habilitarFecha ? true : false" />-->
                                            <input type="date" class="form-control" id="fecFin" placeholder="Fecha Fin"
                                            [(ngModel)]="fechaFinProyecto"/>
                                            <label for="fecFin">Fecha Fin</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect" [(ngModel)]="documentacion"
                                                name="tipoOperacion">
                                                <option value="0">Instancia A</option>
                                                <option value="1">Instancia B</option>
                                                <option value="2">Contingencia A</option>
                                                <option value="3">Contingencia B</option>
                                            </select>
                                            <label for="floatingSelect">Documentación</label>
                                        </div>
                                    </div>

                                    <div class="col-1 ">
                                        <button (click)="agregarProyecto()" class="" [ngClass]="claseBoton"  [disabled]="habilitarBoton ? false : true" >
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-2 right" (click)="showData()" *ngIf="ocultar == true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23.616" height="13.503" viewBox="0 0 23.616 13.503">
                                        <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M18,20.679l8.93-8.937a1.681,1.681,0,0,1,2.384,0,1.7,1.7,0,0,1,0,2.391L19.2,24.258a1.685,1.685,0,0,1-2.327.049L6.68,14.14a1.688,1.688,0,0,1,2.384-2.391Z" transform="translate(-6.188 -11.246)" fill="#024e4f"/>
                                    </svg>
                                </div>
                                <div class="col-2 right" (click)="hideData()" *ngIf="ocultar == false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23.619" height="13.503" viewBox="0 0 23.619 13.503">
                                        <path id="Icon_ionic-ios-arrow-up" data-name="Icon ionic-ios-arrow-up" d="M18,15.321l8.93,8.937a1.688,1.688,0,1,0,2.384-2.391L19.2,11.742a1.685,1.685,0,0,0-2.327-.049L6.68,21.86a1.688,1.688,0,0,0,2.384,2.391Z" transform="translate(-6.188 -11.251)" fill="#024e4f"/>
                                    </svg>                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Conexion-->

                <!--Parametros-->
                <div class="row mt-3" hidden>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">BUSQUEDA</h6>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect" [(ngModel)]="selectedtipo"
                                                name="tipoOperacion" (change)="catTipoRetorno()">
                                                <option *ngFor="let tipo of listaPagoDev" [ngValue]="tipo.clave">
                                                    {{ tipo.clave }} - {{ tipo.descripcion }}
                                                </option>
                                            </select>
                                            <label for="floatingSelect">Tipo</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect"
                                                [(ngModel)]="selectedTipoPago" name="tipoOperacion">
                                                <option *ngFor="let pago of listaPago" [ngValue]="pago">
                                                    {{ pago.clave + "-" + pago.descripcion }}
                                                </option>
                                            </select>
                                            <label for="floatingSelect">Tipo Pago</label>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="nRegistros"
                                                placeholder="Numero de Registros" [(ngModel)]="numRegistros" />
                                            <label for="nRegistros">N.Registros</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="concepto" placeholder="concepto"
                                                [(ngModel)]="concepto" />
                                            <label for="concepto">Concepto</label>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelect" [(ngModel)]="instancia"
                                                name="tipoOperacion">
                                                <option value="0">Instancia A</option>
                                                <option value="1">Instancia B</option>
                                                <option value="2">Contingencia A</option>
                                                <option value="3">Contingencia B</option>
                                            </select>
                                            <label for="floatingSelect">Instancia</label>
                                        </div>
                                    </div>
                                </div>
                                <!--fIN PRIMER FILA-->

                                <div class="row mt-3">
                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="fecInicio"
                                                placeholder="Fecha Inicio" [(ngModel)]="selectedDateInicio"
                                                [disabled]="habilitarFecha ? true : null" />
                                            <label for="fecInicio">Fecha Inicio</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="fecFin" placeholder="Fecha Fin"
                                                [(ngModel)]="selectedDateFin"
                                                [disabled]="habilitarFecha ? true : false" />
                                            <label for="fecFin">Fecha Fin</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="orpnumero"
                                                [(ngModel)]="orpNumeroDev" />
                                            <label for="fecFin">Orp_Numero</label>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="orpnumero"
                                                [(ngModel)]="montoDev" />
                                            <label for="fecFin">Monto</label>
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <button type="button" class="btn btn-success btn-circle btn-xl"
                                            (click)="getOrdenesDevolucion()">
                                            <i class="fa fa-search fa-spin" style="
                          --fa-primary-color: rgb(255, 255, 255);
                          --fa-secondary-color: rgb(255, 238, 0);
                        "></i>
                                        </button>
                                    </div>

                                    <div class="col-1">
                                        <br />
                                        <button type="button" class="btn btn-warning"
                                            (click)="getOrdenesDevolucionVarios()">
                                            Buscar varios
                                        </button>
                                    </div>

                                    <div class="col-2">
                                        <br />
                                        <button class="btn btn-success" (click)="chkDevoluciones()">
                                            Retornar
                                        </button>
                                    </div>
                                </div>
                                <!--Fin segunda fila-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Parametros-->

                <br />
                <!--<input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll()" />Seleccionar todo-->
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table" id="tablaDevoluciones">
                                <thead class="table-success">
                                    <tr>
                                        <th scope="col">Proyecto - BAU</th>
                                        <th scope="col">Tipo de Proyecto</th>
                                        <th scope="col">Responsable(s)</th>
                                        <th scope="col">Hrs de atención al día</th>
                                        <th scope="col">Fecha Incio</th>
                                        <th scope="col">Fecha Fin</th>
                                        <th scope="col">Fase</th>
                                        <th scope="col">Estado del Proyecto</th>
                                        <th scope="col">Dependencias</th>
                                        <th scope="col">% de Avance</th>
                                        <th scope="col">Documentación</th>
                                        <th scope="col">Comentarios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let orden of listaProyectos; let i = index">
                                        <td scope="row">
                                            <input type="checkbox" value="{{ orden.row }}"
                                                [(ngModel)]="listaProyectos[i].seleccion" />
                                        </td>
                                        <th scope="row">{{ orden.row }}</th>
                                        <td>{{ orden.numero }}</td>
                                        <td>{{ orden.tipoPago }}</td>
                                        <td>
                                            <input type="text" value="{{ orden.cantidad }}"
                                                [(ngModel)]="listaProyectos[i].cantidad" size="5" />
                                        </td>
                                        <td>{{ orden.claveRastreo }}</td>
                                        <td>{{ orden.conceptoPago }}</td>
                                        <td>{{ orden.institucionEmisora }}</td>
                                        <td>{{ orden.cuentaOrdenante }}</td>
                                        <td>{{ orden.tipoCuentaOrdenante }}</td>
                                        <td>{{ orden.institucionReceptora }}</td>
                                        <td>{{ orden.cuentaBeneficiaria }}</td>
                                        <td>{{ orden.tipoCuentaBeneficiaria }}</td>
                                        <td>{{ orden.fecha }}</td>
                                        <td>{{ orden.instancia }}</td>
                                        <td>{{ orden.paquete }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <button (click)="guardarCambio()" class="btn btn-primary">
                            Guardar Cambio
                        </button>
                        <button (click)="cerrarSemana()" class="btn btn-success mx-3">
                            Cerrar Seman
                        </button>
                    </div>
                </div>
                <!--Fin Tabla-->
            </div>
        </div>
    </div>
</div>
<style>
    .right {
        justify-content: flex-end;
        display: flex;
        width: 150px;
        position: absolute;
        right: 0;
        top: center;
        margin-right: 10px;
    }
</style>