<div class="row" hidden>
  <div class="col-12 mb-5">
      <div class="card">
          <div class="card-body">
              <!--Agregar Archivo-->
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-body">
                              <h6 class="card-title">Agregar Información</h6>
                              <div class="row">
                                  <div class="col-2">
                                      <div class="form-floating">
                                          <input type="file" class="form-control" id="file" (change)="selectFiles($event)"/>
                                          <label for="file">Cargar Archivo</label>
                                      </div>
                                  </div>
                                  <div class="col-1 mt-3">
                                      <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="cargaTickets()">Agregar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br />
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table" id="">
                      <thead class="table-success">
                        <tr>
                          <th scope="col">Nombre del Archivo</th>
                          <th scope="col">Fecha de carga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Ticket_020124.xlsx</th>
                          <td>02/01/24 12:00:28</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_100124.xlsx</th>
                          <td>10/01/24 20:08:15</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_180124.xlsx</th>
                          <td>18/01/2024 11:22:11</td>
                        </tr>
                        <tr>
                          <th scope="row">Ticket_280124.xlsx</th>
                          <td>28/01/2024 16:17:16</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Fin Tabla -->
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Inicio Tabla -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table" id="tablaTickets">
                <thead class="table-success">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Tech/Gerencia</th>
                    <th scope="col">Área Usuaria</th>
                    <th scope="col">Tipo de Solicitud</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Tipo Ticket</th>
                    <th scope="col">Recurso</th>
                    <th scope="col">Hrs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ticket of listaTickets; let i = index">
                    <th scope="row">{{ ticket.numero }}</th>
                    <td>{{ ticket.fechaInicio }}</td>
                    <td>{{ ticket.fechaFin }}</td>
                    <td>{{ ticket.estado }}</td>
                    <td>{{ ticket.prioridad }}</td>
                    <td>{{ ticket.gerencia }}</td>
                    <td>area usuaria</td>
                    <td>{{ ticket.tipoSolicitud }}</td>
                    <td style="width:200px;">{{ ticket.descripcion }}</td>
                    <td>{{ ticket.usuario }}</td>
                    <td>tipo ticket</td>
                    <td>recurso</td>
                    <td>horass</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Fin Tabla -->
      </div>
    </div>
  </div>
</div>