<div class="row">
  <div class="col-12 mb-5">
    <div class="card">
      <div class="card-body">
        <!--Conexion-->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">CONEXION</h6>
                <div class="row">
                  <div class="col-4">
                    <div class="form-floating">
                      <select class="form-select" (change)="selectBase()" id="floatingSelect" [(ngModel)]="catBases"
                        name="datasource">
                        <option *ngFor="let base of listaBase" [ngValue]="base.id_Datasource">
                          {{base.nombre_Base}}</option>
                      </select>
                      <label for="floatingSelect">Conexion</label>
                    </div>
                  </div>

                  <div class="col-3" hidden>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="idDatasource" placeholder="ID" [(ngModel)]="id_Data">
                      <label for="idDatasource">ID</label>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="ipDatasource" placeholder="IP" [(ngModel)]="ip_Data"
                        disabled>
                      <label for="ipDatasource">IP</label>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="baseDatasource" placeholder="base"
                        [(ngModel)]="name_Data" disabled>
                      <label for="baseDatasource">BASE</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="puertoDatasource" placeholder="Puerto"
                        [(ngModel)]="port_Data" disabled>
                      <label for="puertoDatasource">Puerto</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin conexion-->

        <br>
        
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Matriz de cuentas POA</h6>
                <div class="row">

                  <div class="col-3">
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                      data-target="#exampleModalPOA">Generar archivos POA</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      


        <br>
        
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Tipo de envio</h6>
                <div class="row">
                  <div class="col-2">

                    <!--<div class="form-check col-4">
                      <input class="form-check-input" type="radio" value="3" name="flexRadioDefault"
                        id="flexRadioDefault0" [(ngModel)]="tipo_contingencia" (change)="changeStatus()">
                      <label class="form-check-label" for="flexRadioDefault0">
                        Normal
                      </label>
                    </div>-->

                    <div class="form-check col-4">
                      <input class="form-check-input" type="radio" value="1" name="flexRadioDefault"
                        id="flexRadioDefault1" [(ngModel)]="modDatosContingencia.tipoContingencia" [disabled]="rgContingenciaAct">
                      <label class="form-check-label" for="flexRadioDefault1">
                        COAS
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" value="2" name="flexRadioDefault"
                        id="flexRadioDefault2" [(ngModel)]="modDatosContingencia.tipoContingencia" [disabled]="rgContingenciaAct">
                      <label class="form-check-label" for="flexRadioDefault2">
                        POA
                      </label>
                    </div>



                  </div>


            

                  

                  <div class="col-2">
                    <button type="button" class="btn btn-warning" (click)="btnConsultContingencia()"
                      [disabled]="rgContingencia">Consultar contingencia</button>
                  </div>

                  <div class="col-2">

                    <button type="button" class="btn btn-success" (click)="btnActivarContingencia()"
                      [disabled]="rgContingenciaAct">Activar contingencia</button>

                  </div>

                  <div class="col-2">

                    <button type="button" class="btn btn-danger" (click)="btnOffContingencia()"
                      [disabled]="rgContingenciaOff">Desactivar contingencia</button>

                  </div>


                  <div class="row mt-4">

                    <div class="col-2">
                      <br>
                      <div class="form-floating">
                        <input type="date" class="form-control" id="fecInicio" placeholder="Fecha Inicio"
                          [(ngModel)]="selectedDateInicio" [disabled]="rgContingenciaOff">
                        <label for="fecInicio">Fecha Certificacion</label>
                      </div>
                    </div>

                    <div class="col-3">
                      <label for="formFile" class="form-label"><i class="fa fa-certificate"
                          style="--fa-primary-color: rgb(37, 80,81);"></i> Ingresar
                        archivo</label>
                      <input class="form-control" type="file" id="formFile" (change)="selectFile($event)"
                        [disabled]="rgContingenciaOff">
                        <!--<input class="form-control" type="file" id="formFile" (change)="selectFile($event)"
                        [disabled]="rgContingenciaFileOff">-->
                    </div>

                    <div class="col-2">
                      <div class="form-check form-switch mt-3">
                        <br>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                          [(ngModel)]="isCheckedArchivoEnv" [disabled]="rgContingenciaOff">

                        <label class="form-check-label" for="flexSwitchCheckDefault">Generar .env</label>
                      </div>
                    </div>

                    <div class="col-3">
                      <br>
                      <!--<button class="btn btn-success" (click)="btnCargaMasiva()" [disabled]="rgContingenciaOff">Generar
                        archivos .env -
                        Carga Masiva</button>-->


                        <button class="btn btn-success" (click)="generarEnvTest()" [disabled]="rgContingenciaOff">Generar
                          archivos .env -
                          Carga Masiva</button>


                          <!--<button class="btn btn-warning" (click)="obtenerArchivo()">Obtener archivoTest</button>-->
                    </div>

                    <div class="col-2">
                      <br>
                      <!--<button class="btn btn-warning" (click)="btnGenerarEnv()" [disabled]="rgContingenciaOff">Generar
                        .env</button>-->

                        <!--<button class="btn btn-warning" (click)="btnGenerarEnvTest()" [disabled]="rgContingenciaOff">Generar
                        .env TEST</button>-->
                        
                        <button class="btn btn-warning" (click)="btnGenerarEnvCoasPoa()" [disabled]="rgContingenciaOff">Generar
                          .env COAS - POA</button>
                    </div>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      


        <br>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Validacion archivos Contingencia</h6>
                <div class="row">

                  <!--<div class="row mt-4">
                    <div class="col-3">
                        <label for="formFile" class="form-label"><i class="fa fa-certificate"
                                style="--fa-primary-color: rgb(37, 80,81);"></i> Ingresar
                            archivos (.env - .liq  - .req)</label>
                        <input class="form-control" type="file" id="formFile" (change)="selectFile($event)">
                    </div>

                    <div class="col-3">
                      <br>
                      <button class="btn btn-success" (click)="btnValidacionContingencia()">Validar archivos</button>
                  </div>

                </div>-->

                <br>
                  <div class="row mt-3">
                    <div class="col-3">
                      <label class="btn btn-default p-0">
                        <input class="form-control" type="file" multiple (change)="selectFiles($event)" />
                      </label>
                    </div>

                    <div class="col-4">
                      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="uploadFiles()">
                        Validar archivos
                      </button>
                    </div>
<!--
                    <div class="col-4">
                      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="uploadFilesTest()">
                        Validar archivo TEST
                      </button>
                    </div>-->
                  </div>

                  <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                    <span>{{ progressInfo.fileName }}</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar"
                        attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{ width: progressInfo.value + '%' }">
                        {{ progressInfo.value }}%
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--Fin Conexion-->
        </div>


      </div>
    </div>
  </div>

  <!--MODAL POA ,MATRIZ DE CUENTAS-->


  <!-- Modal -->
  <div class="modal fade" id="exampleModalPOA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Matriz de cuentas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-4">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" [(ngModel)]="selectedTipo">
                <option value="poa">POA</option>
                <option value="cero">CERO</option>
              </select>
              <label for="floatingSelect">Certificacion</label>
            </div>
          </div>

          <br>
          <div *ngIf="this.selectedTipo!=''">
            <!--HEADER Matriz cuentas-->
            <div class="row mt-6">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Header</h6>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="idDatasource" placeholder="ID"
                            [(ngModel)]="HNumCiclo" value="1">
                          <label for="idDatasource">Numero Ciclos</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="ipDatasource" placeholder="IP"
                            [(ngModel)]="HSegundos" value="1">
                          <label for="ipDatasource">Segundos</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Fin HEADER Matriz cuentas-->

            <br>

            <!--Ordenante Matriz cuentas-->
            <div class="row mt-6">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Ordenante</h6>
                    <div class="row">
                      <div class="col-3">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="bBanco" placeholder="Banco" [(ngModel)]="HBanco"
                            value="40150">
                          <label for="bBanco">Banco</label>
                        </div>
                      </div>

                      <div class="col-3">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="bTipoCuenta" placeholder="Tipo Cuenta"
                            [(ngModel)]="HTipoCuenta" value="40">
                          <label for="bTipoCuenta">Tipo Cuenta</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="bCuenta" placeholder="Cuenta"
                            [(ngModel)]="HCuenta" value="150180019480800160">
                          <label for="bCuenta">Cuenta</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-6">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="bNombre" placeholder="Nombre"
                            [(ngModel)]="HNombre" value="VICTOR PINEDA VELAZQUEZ">
                          <label for="bNombre">Nombre</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="bRFC" placeholder="RFC" [(ngModel)]="HRFC"
                            value="PIVV711223LN5">
                          <label for="bRFC">RFC</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Fin Ordenante Matriz cuentas-->


            <!--detalle-->
            <div class="row mt-3">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Detalle</h6>
                    <div class="row">

                      <div class="col-2">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="cantidadOrdenes" placeholder="Cantidad"
                            [(ngModel)]="HCantidad">
                          <label for="cantidadOrdenes">Cantidad</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-floating">
                          <select class="form-select" id="floatingSelect" [(ngModel)]="selectedTipoPago">
                            <option *ngFor="let tpago of listaPago" [ngValue]="tpago">
                              {{tpago.clave + "-" + tpago.descripcion}}</option>
                            <!--<option [ngValue]="1">Pago 1</option>
                            <option [ngValue]="3">Pago 3</option>
                            <option [ngValue]="7">Pago 7</option>-->
                          </select>
                          <label for="floatingSelect">Tipo Pago</label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="montoOrden" placeholder="Monto"
                            [(ngModel)]="HMonto">
                          <label for="montoOrden">Monto</label>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="cantidadOrdenes" placeholder="Cantidad"
                            [(ngModel)]="HStatus">
                          <label for="cantidadOrdenes">Status</label>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="cantidadOrdenes" placeholder="Cantidad"
                            [(ngModel)]="HModulo" required>
                          <label for="cantidadOrdenes">Modulo</label>
                        </div>
                      </div>
                    </div>


                    <!--<div class="row mt-2">-->


                    <!--</div>-->

                  </div>
                </div>
              </div>
            </div>
            <!--fin detalle -->




            <!--archivo-->
            <div class="row mt-3">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Archivo</h6>
                    <div class="mb-3">
                      <label class="btn btn-default p-0">
                        <input type="file" (change)="selectFile($event)" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--fin archivo-->

            <br>
            <button type="button" class="btn btn-primary" (click)="addRegistroPoa()"><i class="fas fa-plus"></i> Agregar
              elemento</button>
            <br>
            <br>
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th>Cantidad</th>
                  <th>Tipo Pago</th>
                  <th>Monto</th>
                  <th>Status</th>
                  <th>Modulo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalle of empList">
                  <td>{{detalle.cantidad}}</td>
                  <td>{{detalle.tipoPago}}</td>
                  <td>{{detalle.monto}}</td>
                  <td>{{detalle.concepto}}</td>
                  <td>{{detalle.modulo}}</td>
                  <td><button class="btn btn-danger" (click)="eliminarRegistroPoa(detalle.id)"><i
                        class="fas fa-trash-alt"></i>
                      Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!--<button type="button" class="btn btn-primary" (click)="archivosPOA()">Generar archivo</button>

          <button type="button" class="btn btn-primary" (click)="archivosNewPOA()">Generar archivo Nuevo</button>

          <button type="button" class="btn btn-primary" (click)="descargarPOA()">Generar archivo Descarga</button>-->

           <button type="button" class="btn btn-primary" (click)="descargarPOATest()">Generar archivo</button>

          <!---<button type="button" class="btn btn-primary" (click)="archivosPOANew()">Generar archivos</button>-->

        </div>
      </div>
    </div>
  </div>